<head>
	<title>Rate Control Example</title>
	<link rel="stylesheet" type="text/css" href="../../../etc/samples.css">
</head>

<body>

	<h1><center>Rate Control Example</center></h1>

	<h2>Goals</h2>

	<p>This example demonstrates INET's 802.11 rate control mechanism. Two hosts are moving around on the
		playground, while one of them is sending a wireless UDP stream to the other. Sometimes the transmission
		is partially blocked by an obstacle, causing packet loss. Scenarios demonstrate how this affects the
		throughput when the hosts use rate control and when they don't.</p>

	<h2>The model</h2>

	<p><b>About rate control</b></p>

	<p>The physical layers of IEEE 802.11 devices are capable of transmitting at several different rates. The different rates can use different channel access methods, like orthogonal frequency division multiplexing (OFDM) or directs sequence spread spectrum (DSSS), and different modulation schemes like binary phase shift keying (BPSK) or
	 types of quadrature amplitude modulation (QAM). Each of these have different tolerances of effects like fading, attenuation and interference from other radio sources. In varying channel conditions,
		using the fastest rate might not be optimal for performance. Rate control algorithms adapt the transmission
		rate dynamically to the changing channel conditions, so the performance of the radio link can be maximized.
	</p>

	<p>
		For example, in certain channel conditions if hosts transmitted with 54 mbps, the transmissions would not be received correctly, and the throughput would drop to zero.
		However, transmissions with 6 mbps would be correctly receivable due to the simpler modulation (BPSK instead of 64QAM).
		It is not obvious which rate works the best with what channel conditions. The goal of rate control algorithms is to find the best rate.
	</p>

	<p><b>Rate control algorithms</b></p>

	<p>Some rate control algorithms change the transmission rate according to packet loss. When too many packets are lost (ie. the ACK for them doesn't arrive) the transmission rate is lowered. When a number of packets are sent without loss, the rate is increased.
	</p>

	<p>INET has different rate control models, like <tt>ARFRateControl</tt>, <tt>AARFRateControl</tt> and
		<tt>OnoeRateControl</tt>.
	</p>

	<p><b>The network</b></p>

	<p>Hosts are placed on the edge of the playground. During the simulation, they move along the edge of the
		playground with different speed, while <i>Host[0]</i> sends UDP packets to <i>sinkHost</i>. There is a forest
		 in the middle of the playground, acting as an obstacle. The line of
		transmission intersects the obstacle at certain times, which degrades transmissions.
	</p>

	<p><center><img src="network.png"></center></p>

	<p><b>Configuration</b></p>

	<p>
		Hosts are configured to operate in 802.11 'a' mode and ad-hoc mode. <i>Host[0]</i> is configured to saturate the channel with UDP traffic when using the fastest
		mode, 54 mbps. This way the maximum application level throughput can be measured.
	</p>

	<p>
		There are two configurations. In one of them, hosts use no rate control mechanism, and in the other they use
		 Adaptive Auto Rate Fallback (AARF). Results for the two simulation runs can be compared to show how the
		 use of rate control affects throughput.
	</p>

	<h2>Results</h2>

	<p>Below is an animation showing the hosts going around the obstacle. The transmissions intersect the obstacle during the simulation.
		The path the transmission takes through the obstacle varies in length as the hosts are moving.
	</p>

	<p><center><img src="ratecontrol1.gif"></center></p>

	<p>
		Bitrate and throughput are recorded during the simulations. The following charts show the nominal data bitrate and the actual application level throughput for the two configurations 
		(the values are in s and bps).
	</p>

	<p><center><img src="noratecontrol.png" width=850px></center></p>
	<p><center><img src="aarf.png" width=850px></center></p>

	<p>
		In the configuration where there is no rate control, the nominal bitrate is constantly 54 mbps. The throughput is around
		24 mbps when the transmissions are not obstructed by the forest. It decreases to zero when the forest gets between the hosts.
		In the other configuraton in which the hosts use rate control, the rate control algorithm changes the rate when transmissions
		go through the obstacle. The rate changes rapidly, which looks like if there were multiple levels on the graph. 
		Some transmissions can still be received correctly even though they go through the forest. The throughput decreases at first, but it's
		not zero. There are intervals where it decreases to zero, even though the rate is set to the lowest level (6 mbps). Throughput and nominal data rate for the two scenarios can be compared on the following charts.
	</p>

	<p><center><img src="throughput.png" width=850px></center></p>
	<p><center><img src="bitrate.png" width=850px></center></p>

	<p>The received packet count at <i>sinkHost</i> is 18366 for 'No rate control', and 35966 for 'AARFRateControl'.</p>

	<p><b>Conclusion</b></p>

	<p>This shows that rate control is effective in increasing the performance of the wireless network, as it increases throughput during
		varying channel conditions. Also, throughput is not zero in situations when it would be, if rate control wasn't used.
	</p>

</body>