div#titlearea {
   display: none;
}

body {
   background-color: white; max-width: 900px; margin-left: 0; padding-left: 20px; padding-right: 20px;
}

.include {
	border-style: solid;
	border-width: 1px;
	border-color: #c4cfe5;
	background-color: #fbfcfd;
	padding: 4px 6px;
	display: inline-flex;
	margin: 4px 8px 4px 2px;
}

mark {
	background-color: #cbda00;
}

.snippet {
	border-style: solid;
	border-width: 1px;
	border-color: #c4cfe5;
	background-color: #fbfcfd;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
	font-family: monospace;
}

var {
	font-family: monospace;
	font-weight: bold;
	font-style: normal;
}

video, .screen {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
}